extends layout

block content
  if charts.length
    ul.charts
      - each chart in charts 
        li.chart
          h2
            a(href="#{chart.url}")=chart.title
          time.pub-date Last updated #{chart.formatted_last_updated}
          ul.estimates
            - each estimate in chart.estimates
              li.estimate
                h3 #{estimate.formatted_name}
                  if estimate.party !== null
                    , #{estimate.party}
                div.percent-bar
                  span.percent(class="#{estimate.lower_party}", data-value="#{estimate.integer_value}")
                    span.percent-value #{estimate.value}%
  else
    form(method="post")
      p Sorry, there is no polling data available for #{state}.
      input(class="text", type="text", name="state", placeholder="Try another US state")
      input(class="submit", type="submit", value="View polls")
block scripts
  script
    $(document).ready(function() {
      var percentBars = $('span.percent');
      $(percentBars).each(function () {
        $(this).animate({
          width: $(this).attr('data-value') + "%"
        }, 1000);
      });
    });
